* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 999999;
}

.mid ul {
    display: flex;
}

.mid ul li {
    list-style: none;
    margin: 0px 10px;
    font-size: 22px;
    margin-top: 25px;
}

.left {
    color: white;
    margin-top: 25px;

}

span {
    color: red;
}

.img-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
    
}

img {
    width: 100%;
    height: auto;
    
}
#Z1{
    opacity: 0.5;
}

h5,
h2 {
    position: absolute;
    width: 100%;
    text-align: center;
}

h5 {
    color: red;
    font-size: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.n1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 9%;
    margin-left: 9%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1080px;
    margin: 20px auto;
}

.card {
    width: 30%;
    background-color: white;
    margin-bottom: 20px;
}

.top {
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    color: white;
}

.middle {
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.bottom {
    display: flex;
    justify-content: center;
   padding-top: 20px;
   margin-bottom: 20px;
}
hr{
    margin: 10px 10% 10px 10%;
}
.container2{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 120px 10px 120px;
}
.box1{
   
    padding: 25px;
    
}
.box2{
    padding: 20px;
}
.line{
   line-height: 30px;

}
button{
    padding: 15px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
}
.X1{
    color: rgb(0, 0, 255);
    font-size: 20px;
}
.logic{
    display: flex;
    justify-content: space-between;
    color: blue;
}
.logic b{
    color: black;
}
.container3{
    padding: 60px;
    margin-left: 8%;
    margin-right: 8%;
    line-height: 50px;
}
.F1{
    color: white;
    display: flex;
    justify-content: space-between;

}
.footer-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh
}